doctype html
html(lang="en")
  head
    title = 'Home Page'
    link(rel='stylesheet', href='./styles.css')
  body
    h1= 'Welcome, Musicians'
    br
    p1= 'Time to face the music; I treble at the thought.'
    br
    br
    a(href="./users") User's List 
    a(href="./posts") Content 
    a(href="./music") Listing Favorite music